In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('data for practice.csv')
df.head()

   IN_DEX   prOd_CODE  Qt         M
0       0  PRD0903691   1     March
1       1  PRD0900851   1      June
2       2  PRD0903130   1      June
3       3  PRD0900183   1   January
4       4  PRD0900906   1  February

In [22]:
# method .rename() change 'IN_DEX' to 'index'
df_new = df.rename(columns= {'IN_DEX' : 'index' ,'prOd_CODE' : 'productcode', 'Qt' : 'quantity' , 'M' : 'Month'})
df_new.head()

   index productcode  quantity     Month
0      0  PRD0903691         1     March
1      1  PRD0900851         1      June
2      2  PRD0903130         1      June
3      3  PRD0900183         1   January
4      4  PRD0900906         1  February