# Pandas foundation

In [1]:
# 1 import pandas and numpylibrary 
import pandas as pd
import numpy as np

In [21]:
# 2  Acquire data
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
gender_df = pd.read_csv('gender_submission.csv')

In [4]:
# 3  Datafram attribute index, columns , values (use traind_df to show)

In [7]:
# 4 show row and column

In [38]:
#5 show train_df first 5 rows

In [26]:
#6 show train_df last 5 rows

In [11]:
#7 show data type

In [ ]:
#7.1 count value type

In [25]:
#8 show data type and more information

In [ ]:
#9 show distribution statistics

# Select column

In [30]:
#1 select single column stye []

In [29]:
#2 select single column style .

In [32]:
#3 select multiple column
train_df[['Name','Age']]

                                                  Name   Age
0                              Braund, Mr. Owen Harris  22.0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0
2                               Heikkinen, Miss. Laina  26.0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0
4                             Allen, Mr. William Henry  35.0
..                                                 ...   ...
886                              Montvila, Rev. Juozas  27.0
887                       Graham, Miss. Margaret Edith  19.0
888           Johnston, Miss. Catherine Helen "Carrie"   NaN
889                              Behr, Mr. Karl Howell  26.0
890                                Dooley, Mr. Patrick  32.0

[891 rows x 2 columns]

In [34]:
#4 select column use index

In [37]:
#5 select column use specified name

# Basic Statistics

In [ ]:
#1 show min

In [ ]:
#2 show max

In [ ]:
#3 show mean

In [ ]:
#4 show median

In [ ]:
#5 show std