In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('data for practice.csv')
df.head()

   IN_DEX   prOd_CODE  Qt         M
0       0  PRD0903691   1     March
1       1  PRD0900851   1      June
2       2  PRD0903130   1      June
3       3  PRD0900183   1   January
4       4  PRD0900906   1  February

In [22]:
# method .rename() change 'IN_DEX' to 'index'
df_new = df.rename(columns= {'IN_DEX' : 'index' ,'prOd_CODE' : 'productcode', 'Qt' : 'quantity' , 'M' : 'Month'})
df_new.head()

   index productcode  quantity     Month
0      0  PRD0903691         1     March
1      1  PRD0900851         1      June
2      2  PRD0903130         1      June
3      3  PRD0900183         1   January
4      4  PRD0900906         1  February

In [11]:
df

    IN_DEX productcode  Qt          M
0        0  PRD0903691   1      March
1        1  PRD0900851   1       June
2        2  PRD0903130   1       June
3        3  PRD0900183   1    January
4        4  PRD0900906   1   February
5        5  PRD0900183   1   November
6        6  PRD0904475   1   February
7        7  PRD0900721   1   December
8        8  PRD0900136   1       July
9        9  PRD0900489   1    October
10      10  PRD0900715   1    October
11      11  PRD0903130   1        May
12      12  PRD0901010   1  September
13      13  PRD0902809   1       July
14      14  PRD0903917   1       June
15      15  PRD0900272   1   February
16      16  PRD0900871   1       June
17      17  PRD0901656   1      March
18      18  PRD0902696   1       June
19      19  PRD0902734   1      April
20      20  PRD0901216   1      March
21      21  PRD0904559  23       June
22      22  PRD0904261   3       June
23      23  PRD0903178   6    January
24      24  PRD0901886   7   February
25      25  PRD0900590   2   November
26      26  PRD0903427   1   February
27      27  PRD0900982   1   December
28      28  PRD0903178   1       July