In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data for practice.csv')
df.head()

,IN_DEX,prOd_CODE,Qt,M,supplier
0,0,PRD0903691,1,March,906-478-8949SandyGunnarsson@dayrep.com
1,1,PRD0900851,1,June,Abdul-NurMummarIsa@rhyta.com1 931 207 0839
2,2,PRD0903130,1,June,OmeokachieIbeamaka@einrot.com434-509-2614
3,3,PRD0900183,1,January,AnenechiChidi@armyspy.com+1 (205) 417-8095
4,4,PRD0900906,1,February,AsiaWozniak@rhyta.com918-712-3469

In [3]:
# method .rename() change 'IN_DEX' to 'index'
df_new = df.rename(columns= {'IN_DEX' : 'index' ,'prOd_CODE' : 'productcode', 'Qt' : 'quantity' , 'M' : 'month'})
df_new.head()

,index,productcode,quantity,month,supplier
0,0,PRD0903691,1,March,906-478-8949SandyGunnarsson@dayrep.com
1,1,PRD0900851,1,June,Abdul-NurMummarIsa@rhyta.com1 931 207 0839
2,2,PRD0903130,1,June,OmeokachieIbeamaka@einrot.com434-509-2614
3,3,PRD0900183,1,January,AnenechiChidi@armyspy.com+1 (205) 417-8095
4,4,PRD0900906,1,February,AsiaWozniak@rhyta.com918-712-3469