In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('data for practice melt.csv')
df

   location  temperature  Jan-2010  Feb-2010  Mar-2010
0       BKK      Predict      12.0      23.0      87.0
1       BKK      Predict     123.0      34.0       2.0
2         JP     Predict      23.0      54.0       4.0
3       BKK      Predict      32.0      67.0       1.0
4       BKK      Predict       4.0      31.0       6.0
5       BKK      Predict      55.0      50.0      86.0
6        NYC     Predict       5.0      12.0      23.0
7        NaN         NaN       NaN       NaN       NaN
8        NaN         NaN       NaN       NaN       NaN
9        NaN         NaN       NaN       NaN       NaN
10       NaN         NaN       NaN       NaN       NaN
11       NaN         NaN       NaN       NaN       NaN

In [4]:
df_clean = pd.melt(df, id_vars = ['location'] , var_name = 'Date' , value_name = 'Value')

KeyError: "The following 'id_vars' are not present in the DataFrame: ['location']"

In [5]:
df_clean.head()

NameError: name 'df_clean' is not defined