In [1]:
import pandas as pd
parsed_date = pd.to_datetime('12 January 2020')
parsed_date

Timestamp('2020-01-12 00:00:00')

In [5]:
#show month
parsed_date.month

1

In [8]:
#show day
parsed_date.day

12

In [9]:
#show year
parsed_date.year

2020

In [12]:
# Specific format in to_datetime
parsed_date = pd.to_datetime('12/12/2020', format = '%d/%m/%Y')
parsed_date

Timestamp('2020-12-12 00:00:00')

In [13]:
#import data
df = pd.read_csv('data.csv')
df.head()

         Date  STORE_CODE  QUANTITY
0  20080329.0  STORE00004       1.0
1  20070616.0  STORE00001       1.0
2  20080407.0  STORE00001       1.0
3  20080330.0  STORE00002       1.0
4  20070420.0  STORE00001       1.0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        25 non-null     float64
 1   STORE_CODE  25 non-null     object
 2   QUANTITY    25 non-null     float64
dtypes: float64(2), object(1)
memory usage: 664.0+ bytes

In [ ]:
#Set Date column to date type
df

In [ ]:
#use datetime to parse  abbreviated month name