In [1]:
import pandas as pd
parsed_date = pd.to_datetime('12 January 2020')
parsed_date

Timestamp('2020-01-12 00:00:00')

In [2]:
parsed_date.month

1

In [3]:
parsed_date.day

12

In [4]:
parsed_date.year

2020

In [5]:
# Specific format in to_datetime
parsed_date = pd.to_datetime('12/12/2020', format = '%d/%m/%Y')
parsed_date

Timestamp('2020-12-12 00:00:00')

In [6]:
#import data
df = pd.read_csv('data.csv')
df.head()

         Date  STORE_CODE  QUANTITY
0  20080329.0  STORE00004       1.0
1  20070616.0  STORE00001       1.0
2  20080407.0  STORE00001       1.0
3  20080330.0  STORE00002       1.0
4  20070420.0  STORE00001       1.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        25 non-null     float64
 1   STORE_CODE  25 non-null     object
 2   QUANTITY    25 non-null     float64
dtypes: float64(2), object(1)
memory usage: 664.0+ bytes

In [8]:
#Set Date column to date type
df['Date'] = pd.to_datetime(df['Date'] , format = '%Y%m%d')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        25 non-null     datetime64[ns]
 1   STORE_CODE  25 non-null     object
 2   QUANTITY    25 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 664.0+ bytes

In [10]:
#use datetime to parse  abbreviated month name
import datetime as dt
df['Month'] = df['Date'].dt.strftime('%B')

In [11]:
#use datetime to parse  abbreviated day name
df['Day'] = df['Date'].dt.strftime('%a')

In [23]:
df.head()

        Date  STORE_CODE  QUANTITY
0 2008-03-29  STORE00004       1.0
1 2007-06-16  STORE00001       1.0
2 2008-04-07  STORE00001       1.0
3 2008-03-30  STORE00002       1.0
4 2007-04-20  STORE00001       1.0