In [1]:
#import library 
import pandas as pd
import numpy as np

In [4]:
# data
cuisine = pd.read_csv('chefmozcuisine.csv') 
user_cuisine = pd.read_csv('usercuisine.csv')
user_payment

In [10]:
cuisine.head()

   placeID        Rcuisine
0   135110         Spanish
1   135109         Italian
2   135107  Latin_American
3   135106         Mexican
4   135105       Fast_Food

In [5]:
user_cuisine.head()

  userID          Rcuisine
0  U1001          American
1  U1002           Mexican
2  U1003           Mexican
3  U1004            Bakery
4  U1004  Breakfast-Brunch

# Merging on a specific column

In [9]:
# merge_by_rcuisine on 'Rcuisine 
merge_by_rcuisine = pd.merge(cuisine , user_cuisine , on = 'Rcuisine')
merge_by_rcuisine.head()

   placeID Rcuisine userID
0   135110  Spanish  U1060
1   135110  Spanish  U1135
2   132770  Spanish  U1060
3   132770  Spanish  U1135
4   132273  Spanish  U1060

# Merging on columns with non-matching labels

In [13]:
# use left and right 
combined = pd.merge(cuisine , user_cuisine , left_on= 'userID' , right_on = 'Rcuisine')
combined

KeyError: 'userID'

# Left & right merging on multiple columns

In [ ]:
# Merge sales and managers: sales_and_managers
# use how choose left

sales_and_managers = pd.merge(sales , managers , how= 'left' , left_on= ['city', 'state'] ,right_on=['branch', 'state'] )

# Merge order

In [ ]:
# Perform the first ordered merge: tx_weather
tx_weather = pd.merge_ordered(austin,houston)

In [ ]:
merge_asof()